<div *ngIf="!pageLoaded">
  <div class="boxes">
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>



<div *ngIf="pageLoaded">
  <div class="pb-7  pt-md-8" style="background-color:#1e3a5c;">
  </div>



  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <!-- the modal For Adding Modules -->
    <div class="modal fade" id="mymodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Create New Building</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label>Enter Building Name</label>
              <input type="text" [(ngModel)]="buildingName" class="form-control validate" style="height:auto">

            </div>


          </div>
          <!-- <div class="modal-footer d-flex justify-content-center">
      <button class="btn" (click)="addModule()" data-dismiss="modal" id="addition-btn">Add</button>
    </div> -->
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default" data-dismiss="modal" (click)="addBuilding()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end For Adding Modules -->


    <!-- Delete Modal Start  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This will delete your Building. Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='deleteBuilding()'>Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal End  -->






    <div class="row">
      <div class="col">

        <div class="card shadow">

          <div class="card-header border-0">
            <a href="javascript:void(0)" class="btn btn-default btn-icon " data-toggle="modal" data-target="#mymodal"
              (click)="deptName=''">
              <span class="btn-inner--icon"><i class="fa fa-plus" aria-hidden="true"></i>
              </span>
              <span class="btn-inner--text">Add Department</span>
            </a>

          </div>

          <div *ngIf="buildings.length==0"
            style="color: red;margin-left: 25px; padding-bottom: 20px;padding-top: 20px;">No Building added. Click Add
            Building to add.</div>

          <div class="table-responsive" *ngIf="buildings.length>0">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Building</th>
                  <th scope="col">Updated At</th>
                  <th scope="col">No. of floors</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let building of buildings; let i=index">
                  <th scope="row" (click)="openFloor(building._id)" style="cursor: pointer;">
                    <div class="media align-items-center">

                      <!-- <b><span [className]='iconArray[i%3]'>abcd</span></b>  -->

                      <div class="media-body">
                        <span class="mb-0 text-sm"> {{building.buildingName}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{building.updatedAt.split('T')[0].split('-').reverse().join('-')}}

                  </td>

                  <td>
                    {{building.floor.length}}
                  </td>

                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <!-- <a class="dropdown-item" href="javascript:void(0)" data-target="#myModalForEdit" data-toggle="modal" (click)="deptName=dept.deptName;deptToEdit=dept">Edit Dept Name</a> -->
                        <a class="dropdown-item" href="javascript:void(0)" data-target="#deleteModal"
                          data-toggle="modal" (click)="buildingToDelete=building">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>